<h1>Welcome to Loan management portal</h1>
<div *ngIf="loggedIn" class="center full">
     <h2>Services</h2> 
    
    <ul>
        <li><a class="dropdown-item" href="users">Users</a></li>
      <li><a class="dropdown-item" href="#">Loans</a></li>
      <li><a class="dropdown-item"  href="customers/list-customer">Customers</a></li>
      <li><a class="dropdown-item" href="payments">Payments</a></li>
      <li><a class="dropdown-item" href="invoices">Invoices</a></li>
      <hr class="dropdown-divider">
      <li><a class="dropdown-item" href="settings">Settings</a></li>
    </ul>
</div>

